@{
    ViewData["Title"] = "Home Page";
}

    
    @*<div class="page-header section-dark" style="background-image:url(/img/antoine-barres.jpg); min-height: 100vh;">
        
        
        <div class="content-center">


            


           




        </div>
        
    </div>*@
    
