

@using MyCollection.Auth
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using MyCollection.Data
@using DAL.UnitOfWork
@using BLL.UserCases

@inject UserManager<DAL.Entities.ApplicationUserEF> UserManager
@inject SignInManager<DAL.Entities.ApplicationUserEF> SignInManager
@inject IUnitOfWork unitOfWork



@{
    var currentUser = await UserManager.GetUserAsync(this.User);
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">



    <!-- Custom styles for this template -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">MyCollection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">


                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrators"))
                    {
                        @await Component.InvokeAsync("AdminMenu")

                    }

                    <li>
                        @*<input type="text" placeholder="Search..">*@
                        @using (Html.BeginForm("GetMoviesByName", "IMDB"))
                        {
                            //Champ texte de recherche
                            @Html.TextBox("name")
                            <input type="submit" value="Search" />
                        }
                    </li>
            

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movie" asp-action="DisplayAllMyMovies">MyCollection</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="GetMoviesByPostalCode">Close To Me</a>
                        </li>


                        var msgService = new MessageUC(currentUser.Id, unitOfWork);


                        if (msgService.CheckForNewMessage(currentUser.Id))
                        {
                           
                            <li id="newMessage" class="nav-item">
                                <a class="far fa-envelope" style="color:white" asp-controller="Message" asp-action="DisplayAllConvConv">
                                
                                </a>
                            </li>

                        }

                        @await Component.InvokeAsync("UserMenu")

                    }


                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        @RenderBody()
    </div>


    
    @*<footer class="py-5 bg-dark fixed-bottom" style="opacity:0.5;">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; MyCollection 2019</p>
            </div>
            <!-- /.container -->
        </footer>*@

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

