<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Embedded Video Example</title>
</head>
<body>
    <h1>Embedded Video Example</h1>
    <p>The following video provides an introduction to WebMatrix:</p>
    <iframe width="560"
            height="315"
            src="G:\Bibliothèques\Vidéos\Films\Apocalypto.avi"
            frameborder="0"
            allowfullscreen></iframe>


    <div class="embed-responsive embed-responsive-16by9">

        <video width="560" height="315" src="G:\Bibliothèques\Vidéos\Films\Apocalypto.avi" type="video/avi"
                frameborder="0" allowfullscreen></video>

    </div>
</body>
</html>

