@model MyCollection.ViewModels.ProfilViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil</title>
</head>
<body>

<h4>ProfilViewModel</h4>
<hr />
<
</body>
</html>
